In [ ]:
import sqlite3
import sqlitepractice as sp

In [2]:
create_sql_table = """
CREATE TABLE my_table (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT NOT NULL,
                        description TEXT NOT NULL,
                        price INTEGER,
                        quantity INTEGER);
                        """
insert_sql = "INSERT INTO my_table (name, description, price, quantity) VALUES ( ? , ? , ? , ? )"

select_sql = "SELECT * FROM my_table"
delete_sql = "DELETE FROM my_table WHERE name = ?"
update_sql = "UPDATE my_table SET price = ? WHERE name = ?"
inout_sql = "UPDATE my_table SET quantity = ? WHERE description = ?"
remove_sql = "DROP TABLE datatable;"

In [3]:
def execute_query(query,params=()):
    db = f'{input('DB파일명을 입력하세요. : ')}.db'
    conn = sqlite3.connect(db)
    cursor = conn.cursor()
    if isinstance(params,list):
        cursor.executemany(query,params)
    else:
        cursor.execute(query,params)
    conn.commit()
    conn.close()

In [5]:
def inout(params):
    db = f'{input('DB파일명을 입력하세요. : ')}.db'
    conn = sqlite3.connect(db)
    cursor = conn.cursor()
    cursor.execute("SELECT description,quantity FROM my_table")
    rows = cursor.fetchall()
    params = list(params)
    for row in rows:
        if row[0] == params[1]:
            params[0] += row[1]
        
    cursor.execute(inout_sql,params)

    conn.commit()
    conn.close()

In [6]:
def fetch_all_data():
    db = f'{input('DB파일명을 입력하세요. : ')}.db'
    conn = sqlite3.connect(db)
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM my_table")
    rows = cursor.fetchall()
    print(rows)
    for row in rows:
        print(f'id[{row[0]}] / name : {row[1]} / description : {row[2]} / price : {row[3]}] / quantity : {row[4]}')
    
    conn.commit()
    conn.close()

In [15]:
execute_query(create_sql_table)

In [49]:
products_list = [
                ('세탁기','Bespoke 워시타워', 3500000,5),
                ('TV', 'LG OLED 80인치', 10000000,3),
                ('냉장고', 'Bespoke 키친핏 4도어', 1500000,3)
                ]

In [54]:
execute_query(insert_sql,products_list)

In [58]:
execute_query(insert_sql,('에어컨', 'Bespoke 무풍 2in1',2500000,4))
execute_query(insert_sql,('에어컨', 'LG OBjet 2in1', 2800000,3))

In [20]:
fetch_all_data()

[]

In [18]:
inout((2,'Bespoke 무풍 2in1'))

In [8]:
execute_query(remove_sql)